@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url(/css/reset.css);

main{
    width: 100%;
    height: 100vh;
}

body{
    background-color: #8ECAE6;
}
aside{
    position: fixed;
    width: 467px;
    background-color: #023047;
    display: flex;
    height: 100vh;
    justify-content: center;
}

aside ul{
    width: 378px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.aside-itens-img{
    width: 115px;
    height: 115px;
    border: none;
    border-radius: 50%;
}


aside a{
    margin-left: 22px;
    color: #FFFFFF;
}

.aside-itens{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    text-align: initial;
}

.aside-itens img:hover{
    background-color: #FFA3A5;
}

.aside-itens a:hover{
    border-bottom: 5px solid #FFA3A5;
}

aside ul li:nth-child(4):hover > .dropdown{
    display: block;
}

.dropdown{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    /* display: none; */

}

.dropdown a{
    background-color: #0000003b;
    border-radius: 5px;
    width: 150%;
    text-align: initial;
}

/* Conteúdo da tela */
.main{
    width: calc(100% - 467px);
    position: absolute;
    right: 0px;
    height: 100vh;
    padding: 35px 15px;
    background-color: #8ECAE6;

}

.main form, .margin-box{
    background-color: #FFFFFF;
    border-radius: 35px;
    padding: 51px 57px;
}

.main form input{
    width: 729px;
    height: 47px;
    padding: 19px 16px;
    background-color: #D9D9D9;
    border: 3px solid #000000;
    border-radius: 12px;
}

#product-name, #product-description{
    display: block;
    margin-top: 40px;
}

select{
    padding: 15px 27px;
    border-radius: 12px;
}

.flex-product{
    margin-top: 40px;
    display: flex;
    width: 748px;
    background-color: #023047;
}

.flex-product input{
    display: block;
    width: 238px;
    height: 66px;
}

/* PRODUCTS CSS */
.margin-box header{
    display: flex;
    justify-content: space-between;
    
}

.margin-box header h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.margin-box header span{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.margin-box header button{
    width: 253px;
    height: 69px;
    background-color: #023047;
    border: 4px solid #000000;
    border-radius: 15px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    
}

.product-card{
    width: calc(100%-38px);
    border-radius: 32px;
    background-color: #023047;
    margin-top: 40px;
    padding: 22px 19px;
    display: flex;
}

.product-card span{
    display: flex;
}
.product-card img{
    background-color: #D9D9D9;
    border-radius: 19px;
    width: 177px;
    height: 191px;
}

.product-inform-1line{
    width: 252px; 
    display: flex; 
    justify-content: space-between;
    margin-left: 12px;
    color: #FFFFFF;

}

.product-inform-1line label{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
}

.product-inform-1line div:nth-child(1) input{
    width: 43px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 5px;
    padding: 9px 12px;
}

.product-inform-1line div:nth-child(2) input{
    width: 138px;
    height: 33px;
    background-color: #D9D9D9;
    border-radius: 5px;
    padding: 9px 12px;
}

.product-inform-2line{
    margin-left: 12px;
}

.product-inform-2line label{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

.product-inform-2line-desc{
    width: 635px;
    height: 77px;
    padding: 22px 13px;
    background-color: #D9D9D9;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
       
}

.product-inform-3line{
    margin-top: 6px;
    margin-left: 12px;
    width: 635px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product-inform-3line label{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

.product-inform-3line-valor{
    display: flex;
    flex-direction: column;
}

.product-inform-3line-valor input{
    width: 90px;
    height: 8px;
    background: #D9D9D9;
    border-radius: 5px;
    padding: 14px 11px;
}

.product-inform-3line img{
    width: 31px;
    height: 31px;
}