@import url(reset.css);

body{
    background-color: var(--bg-orangeDark);   
}

header{
    background-color: var(--bg-red);
    width: 100%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
#navbarHeader ul{
    display: flex;
    gap: 80px;
    font-size: 23px;
    font-weight: bold;
}
#navbarHeader ul li a{
    color: white;
}

header > span:last-of-type > a{
    color: white;
    font-size: 26px;
    font-weight: bold;
    margin-left: 450px;
}

#navbarHeader ul li a:hover , header > span:last-of-type > a:hover{
    color: var(--bg-orange);
}
header > #logo{
    width: 150px;
    height: 150px;
    margin-right: 50px;
}
header > #logo > img{
    width:100%;
    height: 100%;
    object-fit: contain;
}


.fotinha{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    /* border-color:#eeae55; */
    border-width: 3px;
    border-style: solid;
    margin: 15px;
    
}

/* ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
} */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.5em;
}
  
.menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
  
.menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #421717;
}
  
.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}
  
  .menu-item {
    display: flex;
}
  
.menu-item-imagem {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}
  
.menu-item-text {
    flex-grow: 1;
}
  
.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
  
.menu-item-name {
    margin-right: 1.5em;
}
  
.menu-item-description {
    line-height: 1.6;
  }

@media screen and (min-width: 800px) {
    .menu {
      font-size: 16px;
    }
  
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-imagem {
      width: 125px;
      height: 125px;
    }
    .fotinha {
      width: 125px;
      height: 125px;
    }
}
  


/* FOOTER */

footer{
    background-color: var(--bg-red);
    width: 100%;
    padding-top: 30px;
    color:#fff;

}

.footer-content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 3rem;
}

.footer-content p{
    margin: 10px auto;
    font-size: 16px;
    line-height: 5px;
}

.footer-bottom {
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}